.chat-main
  .header
    .chat-main__group-info
      .group-name
        = @group.name
        .user-name
          - @group.users.each do |user|
            = user.name
      .edit
        = link_to edit_group_path(@group)do
          Edit

  .chat-main__message
    = render @messages

  .chat-main__message-form
    = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
      .text_form
        = f.text_field :content, class: 'text-message', placeholder: 'type a message'
        = f.label :image, class: 'input-box__image' do
          = icon('far', 'image', class: 'icon3')
          = f.file_field :image, class: 'Hidden'
      = f.submit 'Send', class: 'submit'

  -# = form_with model: [@group, @message], html: {class: "form"}, local: true do |f|
    -#   .text-form
    -#     = f.text_field :content, class: 'text-message', placeholder: 'type a message'
    -#       .photo-icon
    -#       = f.label :image, class: 'input-box__image' do
    -#         = icon('far', 'image',class: 'icon3')
    -#         = f.file_field :image, class:'Hidden'
    -#   =f.submit 'Send', class: 'submit'